In [2]:
import os 
import pandas as pd

In [3]:
!pwd

/Users/user/Desktop/Projects/football-match-prediction/notebooks

In [4]:
os.chdir("../")

In [5]:
!pwd

/Users/user/Desktop/Projects/football-match-prediction

In [6]:
df = pd.read_csv("/Users/user/Desktop/Projects/football-match-prediction/data/08_14_2025/MATCH_DATA.csv")
df.head()

/var/folders/vw/4mc3r49x4_1419cmr0886y640000gn/T/ipykernel_9873/1720057740.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/user/Desktop/Projects/football-match-prediction/data/08_14_2025/MATCH_DATA.csv")

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
0,F1,2000-07-28,NaN,Marseille,Troyes,1686.34,1586.57,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F1,2000-07-28,NaN,Paris SG,Strasbourg,1714.89,1642.51,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F2,2000-07-28,NaN,Wasquehal,Nancy,1465.08,1633.80,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F1,2000-07-29,NaN,Auxerre,Sedan,1635.58,1624.22,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F1,2000-07-29,NaN,Bordeaux,Metz,1734.34,1673.11,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df["Division"].unique()

array(['F1', 'F2', 'T1', 'D1', 'D2', 'B1', 'E2', 'E1', 'N1', 'P1', 'E0',
       'I2', 'SP2', 'SP1', 'I1', 'E3', 'SC0', 'SC1', 'SC2', 'SC3', 'G1',
       'EC', 'USA', 'SWE', 'NOR', 'IRL', 'BRA', 'ARG', 'MEX', 'JAP',
       'RUS', 'POL', 'DEN', 'ROM', 'AUT', 'SUI', 'FIN', 'CHN'],
      dtype=object)

In [8]:
df[df["Division"] == "E1"]["HomeTeam"].value_counts()

HomeTeam
Preston               476
Cardiff               452
Derby                 451
Sheffield Weds        437
QPR                   430
                     ...
Yeovil                 23
Milton Keynes Dons     23
Tranmere               23
Wycombe                23
Oxford                 23
Name: count, Length: 64, dtype: int64

In [11]:
df[df["Division"] == "E1"].tail()

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
230052,E1,2025-05-03,12:30:00,Sheffield United,Blackburn,1606.57,1497.40,6.0,6.0,9.0,...,1.84,-0.3,2.02,1.88,0.0720,0.1371,0.5765,0.0099,0.1360,0.0685
230053,E1,2025-05-03,12:30:00,Sunderland,QPR,1526.13,1470.89,0.0,1.0,3.0,...,1.96,-1.0,2.09,1.81,0.5402,0.1188,0.2310,0.0100,0.0347,0.0653
230054,E1,2025-05-03,12:30:00,Swansea,Oxford,1505.23,1446.53,6.0,12.0,4.0,...,1.93,-0.8,1.82,1.96,0.0481,0.7571,0.0586,0.0264,0.0939,0.0159
230055,E1,2025-05-03,12:30:00,Watford,Sheffield Weds,1462.46,1476.45,0.0,3.0,4.0,...,2.30,0.0,2.05,1.80,0.1235,0.3155,0.1270,0.0219,0.2734,0.1387
230056,E1,2025-05-03,12:30:00,West Brom,Luton,1518.34,1496.02,1.0,4.0,9.0,...,1.83,0.3,1.78,2.00,0.0296,0.0690,0.0487,0.0163,0.6925,0.1439

In [13]:
df.columns

Index(['Division', 'MatchDate', 'MatchTime', 'HomeTeam', 'AwayTeam', 'HomeElo',
       'AwayElo', 'Form3Home', 'Form5Home', 'Form3Away', 'Form5Away', 'FTHome',
       'FTAway', 'FTResult', 'HTHome', 'HTAway', 'HTResult', 'HomeShots',
       'AwayShots', 'HomeTarget', 'AwayTarget', 'HomeFouls', 'AwayFouls',
       'HomeCorners', 'AwayCorners', 'HomeYellow', 'AwayYellow', 'HomeRed',
       'AwayRed', 'OddHome', 'OddDraw', 'OddAway', 'MaxHome', 'MaxDraw',
       'MaxAway', 'Over25', 'Under25', 'MaxOver25', 'MaxUnder25', 'HandiSize',
       'HandiHome', 'HandiAway', 'C_LTH', 'C_LTA', 'C_VHD', 'C_VAD', 'C_HTB',
       'C_PHB'],
      dtype='object')

In [15]:
import os 

MAIN_DIR = "/Users/user/Desktop/Projects/football-match-prediction/data/08_14_2025"
DIVISIONS_DIR = "DIVISIONS"

os.makedirs(os.path.join(MAIN_DIR, DIVISIONS_DIR), exist_ok=True)

for div in df["Division"].unique():
    division_dir = os.path.join(MAIN_DIR, DIVISIONS_DIR, f"{div}.csv")
    df[df["Division"] == div].to_csv(division_dir, index=False)

In [16]:
path = os.path.join(MAIN_DIR, DIVISIONS_DIR, "E1.csv")
df = pd.read_csv(path)
df

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
0,E1,2000-08-12,NaN,Barnsley,Norwich,1562.94,1464.67,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0434,0.8060,0.0763,0.0100,0.0447,0.0197
1,E1,2000-08-12,NaN,Blackburn,Crystal Palace,1527.02,1461.20,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.5216,0.0443,0.1897,0.0100,0.0464,0.1880
2,E1,2000-08-12,NaN,Bolton,Burnley,1574.41,1416.38,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.7078,0.0746,0.0918,0.0100,0.0156,0.1002
3,E1,2000-08-12,NaN,Fulham,Crewe,1487.33,1426.45,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.4383,0.0803,0.3995,0.0102,0.0526,0.0191
4,E1,2000-08-12,NaN,Gillingham,Stockport,1416.38,1436.38,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0597,0.1748,0.0764,0.0270,0.6307,0.0314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13601,E1,2025-05-03,12:30:00,Sheffield United,Blackburn,1606.57,1497.40,6.0,6.0,9.0,...,1.84,-0.3,2.02,1.88,0.0720,0.1371,0.5765,0.0099,0.1360,0.0685
13602,E1,2025-05-03,12:30:00,Sunderland,QPR,1526.13,1470.89,0.0,1.0,3.0,...,1.96,-1.0,2.09,1.81,0.5402,0.1188,0.2310,0.0100,0.0347,0.0653
13603,E1,2025-05-03,12:30:00,Swansea,Oxford,1505.23,1446.53,6.0,12.0,4.0,...,1.93,-0.8,1.82,1.96,0.0481,0.7571,0.0586,0.0264,0.0939,0.0159
13604,E1,2025-05-03,12:30:00,Watford,Sheffield Weds,1462.46,1476.45,0.0,3.0,4.0,...,2.30,0.0,2.05,1.80,0.1235,0.3155,0.1270,0.0219,0.2734,0.1387
13605,E1,2025-05-03,12:30:00,West Brom,Luton,1518.34,1496.02,1.0,4.0,9.0,...,1.83,0.3,1.78,2.00,0.0296,0.0690,0.0487,0.0163,0.6925,0.1439

In [27]:
df = df[df.isnull().any(axis=1)].reset_index()

In [33]:
df.isnull().sum() / len(df) * 100

index           0.000000
Division        0.000000
MatchDate       0.000000
HomeTeam        0.000000
AwayTeam        0.000000
HomeElo         4.651989
AwayElo         4.829545
Form3Home       0.000000
Form5Home       0.000000
Form3Away       0.000000
Form5Away       0.000000
FTHome          0.000000
FTAway          0.000000
FTResult        0.000000
HTHome          0.035511
HTAway          0.035511
HTResult        0.035511
HomeShots       0.035511
AwayShots       0.035511
HomeTarget      0.035511
AwayTarget      0.035511
HomeFouls       0.035511
AwayFouls       0.035511
HomeCorners     0.035511
AwayCorners     0.035511
HomeYellow      0.035511
AwayYellow      0.035511
HomeRed         0.035511
AwayRed         0.035511
OddHome         5.965909
OddDraw         5.965909
OddAway         5.965909
MaxHome        91.193182
MaxDraw        91.193182
MaxAway        91.193182
Over25         91.228693
Under25        91.228693
MaxOver25      91.228693
MaxUnder25     91.228693
HandiSize      58.593750
HandiHome      58.203125
HandiAway      58.629261
C_LTH           0.071023
C_LTA           0.071023
C_VHD           0.071023
C_VAD           0.071023
C_HTB           0.071023
C_PHB           0.071023
dtype: float64

In [35]:
df["HomeTeam"].value_counts()

HomeTeam
Plymouth            130
Watford             115
Preston             113
Sheffield United    113
Burnley             110
Nottm Forest        110
Gillingham          106
Norwich              96
Crystal Palace       95
Wolves               92
Wimbledon            91
Coventry             86
Millwall             86
Rotherham            85
Crewe                83
Sheffield Weds       74
West Brom            72
Bradford             69
Walsall              68
Portsmouth           67
Reading              67
Grimsby              67
Derby                65
Ipswich              64
Stoke                63
Barnsley             51
Birmingham           50
Stockport            46
QPR                  45
Cardiff              44
Sunderland           41
Leicester            41
West Ham             41
Brighton             40
Wigan                40
Bolton               24
Man City             23
Huddersfield         23
Fulham               23
Blackburn            23
Tranmere             23
Leeds                17
Bristol City          4
Southampton           4
Hull                  3
Blackpool             3
Doncaster             3
Colchester            2
Charlton              2
Scunthorpe            2
Luton                 2
Swansea               2
Middlesbrough         2
Southend              1
Newcastle             1
Peterboro             1
Bournemouth           1
Wycombe               1
Name: count, dtype: int64

In [36]:
df["AwayTeam"].value_counts()

AwayTeam
Plymouth            134
Sheffield United    111
Preston             110
Watford             110
Burnley             109
Nottm Forest        109
Gillingham          108
Norwich              96
Crystal Palace       96
Coventry             95
Wimbledon            91
Crewe                87
Wolves               84
Millwall             84
Rotherham            82
Sheffield Weds       72
West Brom            72
Bradford             68
Walsall              68
Grimsby              67
Ipswich              67
Portsmouth           67
Derby                66
Stoke                65
Reading              65
Barnsley             50
Birmingham           48
QPR                  46
Stockport            46
Leicester            44
Cardiff              44
Wigan                41
Sunderland           40
West Ham             40
Brighton             39
Blackburn            24
Bolton               24
Huddersfield         24
Fulham               23
Tranmere             23
Man City             23
Leeds                21
Southampton           4
Blackpool             4
Charlton              3
Hull                  3
Bristol City          3
Doncaster             2
Swansea               2
Scunthorpe            2
Colchester            2
Luton                 2
Southend              1
Middlesbrough         1
Newcastle             1
Peterboro             1
Yeovil                1
Brentford             1
Name: count, dtype: int64